.main   {
    text-align: center;
    margin: 30px;
}

.controlBody    {
    /*background-color: #c7e9ff;*/
    height: 100%;
    width:100%;
    margin: 0;
}

.gameBody   {
    /*background-color: darkorange;*/
    height: 100%;
    width:100%;
    margin: 0;

}

button {
    border-radius: 12px;
    width: 90%;
    display: inline-block;
    margin: 10px;
}

.quarter     {
    height: 690px;
    width: 200px;
    /*background-color: darkorange;*/
    margin: 20px;
    display: inline-block;
    border-radius: 12px;
}

.red  {
    background-color: plum;

}

.red-lit {
    background-color: deeppink;
    opacity: 1;
}


.yellow  {
    background-color: palegoldenrod;
}

.yellow-lit  {
    background-color: gold;
    opactiy: 1;
}


.green  {
    background-color: lightgreen;
}

.green-lit {
    background-color: green;
    opacity: 1;
}

.blue  {
    background-color: cyan;
}

.blue-lit    {
    background-color: mediumblue;
}

.error  {
    background-color: red !important
}